<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771034401007-h59mfvv4lag0fodf4ep7oe5cko3v7l86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771034401007-h59mfvv4lag0fodf4ep7oe5cko3v7l86</string>
	<key>API_KEY</key>
	<string>AIzaSyDKaGJPrKbVpozKUX8twrK7qKUDbqhZYx0</string>
	<key>GCM_SENDER_ID</key>
	<string>771034401007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naegitest1</string>
	<key>PROJECT_ID</key>
	<string>naegitest1</string>
	<key>STORAGE_BUCKET</key>
	<string>naegitest1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771034401007:ios:1f5c7fafb6da66fa5bf31a</string>
	<key>DATABASE_URL</key>
	<string>https://naegitest1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>